.bordered {
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: auto;
    font-size: large;
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
.circle{
    position: absolute;
    margin-top: 5px;
    width: 12.5vw;
    height: 12.5vw;
    padding: 0px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}
.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottom {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.right {
    position: absolute;
    right: 0%;
    padding-left: 15px;
    transform: scaleX(-1);
}
.left {
    position: absolute;
    left: 0%;
    padding-left: 15px;
}
.textButton{
    background: none!important;
    border: none;
    padding: 0!important;
    font: inherit;
    color: lightblue;
    text-decoration: underline;
    cursor: pointer;
}